@import './style/abstract';
@import './style/reset';
@import './style/color';
@import './style/spacing';

main{
    display: flex;
    flex-direction: column;
    @include media(">=large"){
        flex-direction: row;
    }

    height: 100vh;
}

.gradient-show{
    position: relative;
    background-size: cover;
    background-image: url(./imgs/bg-main-mobile.png);
    @include media(">=large"){
        background-image: url(./imgs/bg-main-desktop.png);
    }
}

.flex{
    display: flex;
    column-gap: var(--spacing-06);
}

form{
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-03);

    width: 100%;
    padding: 0 var(--spacing-04);

    position: absolute;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%,-13%);

    @include media(">=medium"){
        max-width: 40rem;
    }

    @include media(">=large"){
        left: 55%;
        transform: translateY(-50%);
    }
}

.btn{
    transition: all .25s ease-in-out;

    font: inherit;
    color: var(--color-neutral-100);
    background-color: var(--color-neutral-800);
    border: none;
    padding: var(--spacing-05) 0;
    border-radius: 5px;

    transform: scale(1,1);

    cursor: pointer;
}

.btn:hover{
    background-color: var(--dark-viola);
}

.btn:active{
    background-color: var(--color-neutral-800);
    transform: scale(0.95,0.95);
}